@use "./globals";
@import "bootstrap/dist/css/bootstrap.min.css";

// CSS Resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: globals.$space_gray;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Styles
input {
  background: none;
  border: none;
  color: globals.$primary_green;
}

@-webkit-keyframes terminal {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes terminal {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p.last-terminal-description {
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    display: inline-block;
    background: globals.$primary_green;
    bottom: 4px;
    margin: 0 0 0 0.25rem;
    position: absolute;
    width: 9px;
    height: 1rem;
    -webkit-animation: terminal 1s step-end infinite;
    animation: terminal 1s step-end infinite;
  }
}
