@use "./variables.scss";

input {
  background: none;
  border: none;
  color: variables.$primary_green;
  width: 100%;
  outline: none;
  margin: 1rem 0;
  &::placeholder {
    color: variables.$primary_green;
  }
}
