@use "./variables.scss";

@keyframes power-glow {
  0% {
    -webkit-box-shadow: 0px 0px 17px 3px rgba(31, 202, 67, 0.99);
    box-shadow: 0px 0px 17px 3px rgba(31, 202, 67, 0.99);
  }
  50% {
    -webkit-box-shadow: 0px 0px 12px 6px rgba(31, 202, 67, 0.8);
    box-shadow: 0px 0px 12px 6px rgba(31, 202, 67, 0.8);
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 3px rgba(31, 202, 67, 0.99);
    box-shadow: 0px 0px 17px 3px rgba(31, 202, 67, 0.99);
  }
}
main#computer-body {
  background: variables.$plastic_gray;
  border-radius: 1rem;
  padding: 0 0 7rem 0;
  max-width: 800px;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.63);
}
#computer-monitor {
  background: variables.$plastic_gray;
  padding: 3rem 3rem 6rem 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.63);
  max-width: 800px;
  position: relative;
  z-index: 2;
}
#computer-screen-border {
  box-shadow: inset 0 0 40px variables.$plastic_light_black;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}
#computer-screen {
  background: variables.$quaternary_green;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 500px;
  box-shadow: inset 0 0 100px variables.$tertiary_green;
}
span#power-light {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: variables.$primary_green;
  display: block;
  inset: auto auto -50px 0;
  animation: power-glow 1s infinite;
}

// Media Queries
@media screen and (max-width: variables.$sm) {
  #computer-monitor,
  #computer-screen-border,
  main#computer-body {
    padding: 0;
  }
  #computer-screen {
    border-radius: 0;
    box-shadow: none;
    height: 100%;
  }
  span#power-light {
    display: none;
  }
}
