// Computer Screen Colors
$black: #010101;
$primary_green: #1fc742;
$secondary_green: #025b18;
$tertiary_green: #023612;

// Computer Body Colors
$plastic_gray: #edede9;
$plastic_dark_gray: #d6ccc2;
$plastic_light_gray: #f5ebe0;
$plastic_beige: #e3d5ca;

// Misc Colors
$space_gray: #555555;
