// Computer Screen Colors
$black: #010101;
$primary_green: #1fc742;
$secondary_green: #025b18;
$tertiary_green: #023612;
$quaternary_green: #000e03;

// Computer Body Colors
$plastic_gray: #edede9;
$plastic_dark_gray: #d6ccc2;
$plastic_light_gray: #f5ebe0;
$plastic_beige: #e3d5ca;
$plastic_light_black: #5a5550;

// Misc Colors
$space_gray: #555555;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
$xxxl: 1704px;
